li {
	color: #666;
}

.uk-logo {
	max-width: 175px;;
}

#stock-chart {
	min-height:300px;
	height: 100%;
	width: 100%;
}

#trend-text {
	color: white;
}

.uptrend {
	background: green
}

.downtrend {
	background: red;
}

.no-trend {
	background: #666;
}

.hide {
	display: none;
}

.show {
	display: block;
}

#newsfeed {
	margin: 25px;

}